{% extends 'base.html.twig' %}

{% block title %}Valider ma commande - La Boutique Francaise{% endblock %}

{% block content %}
   <h1>Je passe ma commande</h1>
   <p>
       Choisissez vos preferences avant de passer votre commande sur la Boutique Francaise
   </p>
   <hr>
    <div class="row">
        <div class="col-md-6">
            {% set formHtml %}
                {{ form_start(order_form, {action: path('order_recap')}) }}

                {{ form_end(order_form) }}
            {% endset %}

            {# raw: permet de convertir en format html #}
            {{ formHtml|replace({'[br]' : '<br/>'})|raw }}
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <b>Recap de ma commande</b>
                <p>Retrouvez le recapitulatif de vos produits.</p>
            </div>
            <div class="order-summary">
                {% for key, item in cart %}
                    <div class="row {% if key > 0 %}mt-2{% endif %}">
                        <div class="col-2">
                            <img src="/uploads/{{ item.product.illustration }}" alt="{{ item.product.name }}" height="75px;">
                        </div>
                        <div class="col-8 my-auto">
                            {{ item.product.name }} <br/>
                            <small>{{ item.product.subtitle }}</small>
                        </div>
                        <div class="col-2 my-auto">
                            x {{ item.quantity }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
